@model MvcApplication1.Models.ProductionCur
@{
    ViewBag.Title = "Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Production</title>
</head>
<body>
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <br />
    <br />
    @Styles.Render("~/Content/Production.css")
    <div >
        <table class="Grid">
            <tr>
                <th>产品图号</th>
                <th>产品名称</th>
                <th>架次</th>
                <th>开始日期</th>
                <th class="text-center">操作</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Products.Skip(Model.Products.Count() -25))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.ProductNum)</td>
                    <td>@Html.DisplayFor(modelItem => item.ProductChnName)</td>
                    <td>@Html.DisplayFor(modelItem => item.CurrentBatch)</td>
                    <td>@Html.DisplayFor(modelItem => item.startdate)</td>
                    <td>
                        <div>
                            <div class="btn-group">
                                    <button  class="btn btn-danger" width="60">Edit</button>
                                   <button class="btn btn-danger"width="60">Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    @*<p>@Html.ActionLink("Add a new product", "Create")</p>*@
</body>
</html>
